@font-face {
  font-family: "Plain Light";
  src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
  font-family: "Plain Light";
  src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #151515;
}
#main {
  position: relative;
  background-color: #151515;
  /* overflow: hidden; */
}
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 100;
}
.mousefollower {
  border: 2px solid #fff;
  background-color: rgb(255, 255, 255);
  scale: 1.2;
  mix-blend-mode: difference;
}
#loader {
  height: 100%;
  width: 100%;
  background: color #151515;
  position: fixed;
  z-index: 999;
  padding: 24vh 10vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.1vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3.8vw;
  font-family: "silk serif";
  font-weight: 100;
}
#line1-part1 h5 {
  width: 5.5vw;
  text-align: right;
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}
#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vw 6vw;
}
#nav i{
  display: none;
}
#nav #nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5vw;
}
#nav2 h4 {
  font-size: 1.1vw;
  font-weight: 500;
}

.mainpage-text {
  width: 71%;
  margin-left: 26%;
  height: fit-content;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}
.mainpage-text:nth-child(2) {
  margin-top: 16vh;
}

.mainpage-text h1 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  font-family: 600;
}
#text1::before {
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: 18%;
  top: 30%;
}

.mainpage-text h2 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  font-family: 600;
  border-bottom: 0.5vw solid white;
  padding-bottom: 0.5vw;
}
.mainpage-text h2:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.5vw solid #ffffff00;
}

#page2 {
  padding-top: 20vh;
  height: 100vh;
  width: 100%;
  background-color: #151515;
  /* position: relative; */
}

#video-container {
  background-color: #3f7df4;
  height: 66vh;
  width: 70vw;
  position: relative;
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
#video-cursor {
  background-color: #ffa63d;
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 70%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video-cursor i {
  font-size: 2.5vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 0 2vw;
}
#page3-content {
  width: 72vw;
  margin-left: 28%;
  position: relative;
}
#page3-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}
#page3-content h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -14%;
  top: 8%;
}
#page3-content .underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}
#page3 #img-div-continer {
  padding: 2vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.img-div {
  height: 40vw;
  width: 30vw;
  overflow: hidden;
  flex-shrink: 0;
  margin: 2vw;
}
.img-div:nth-child(1) {
  height: 35vw;
  width: 24vw;
}
.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page3-circle1 {
  height: 22vw;
  width: 22vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 51vh;
  margin-left: 3vw;
  position: relative;
}
.page3-circle1 svg {
  height: 30%;
}
.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.3s;
}
.circle-in p {
  width: 70%;
  font-size: 1vw;
  color: black;
  scale: 0;
  transition: all ease 0.3s;
  transition-delay: 0.2s;
  opacity: 0;
}
.page3-circle2 {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page3-circle2 svg {
  height: 30%;
  rotate: -45deg;
}
.page3-circle1:hover .circle-in {
  scale: 1;
}
.page3-circle1:hover p {
  scale: 1;
  opacity: 1;
}

.page3-circle2:hover .circle-in {
  scale: 1;
}
.page3-circle2:hover p {
  scale: 1;
  opacity: 1;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 7vw 0;
}
#page4-content {
  width: 72vw;
  margin-left: 28%;
  position: relative;
}
#page4-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}
#page4-content h1::before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -14%;
  top: 8%;
}
#page4-content .underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4-content > p {
  font-size: 2vw;
  width: 50%;
  margin-bottom: 3vw;
}
#page4-flex {
  display: flex;
}
#page4-flex img {
  width: 46%;
}
#page4-flex > p {
  font-size: 1.05vw;
  width: 25%;
  margin-left: 1.4vw;
}
#page4-blue {
  width: 34vw;
  padding: 3.5vw 2vw;
  background-color: #3f7df4;
  position: relative;
  margin-top: -31vh;
  margin-left: 23vw;
}
.blue-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.2vw;
  border-bottom: 2px solid #fff7f79e;
}
.blue-elem h4 {
  font-size: 1.5vw;
  font-weight: 500;
}
.blue-elem p {
  width: 42%;
  font-size: 0.9vw;
}
#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #151515;
}
.elem {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}
.elem h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-text-stroke: 1px #fff;
  font-weight: 100;
  color: transparent;
  display: inline-block;
  letter-spacing: 2px;
  margin-right: 16px;
  animation-name: anime1;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes anime1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
.elem2 {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}
.elem2 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-text-stroke: 1px #fff;
  font-weight: 100;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  letter-spacing: 2px;
  transform: translateX(calc(-100% - 20px));
  animation-name: anime1;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.elem span {
  font-family: "silk serif";
  font-style: italic;
  color: transparent;
}
.elem2 span {
  font-family: "silk serif";
  color: transparent;
  font-style: italic;
}
#page6 {
  height: 85vh;
  width: 1005;
  background-color: #151515;
  position: relative;
  padding-left: 26vw;
  padding-right: 2vw;
  position: relative;
}
#page6 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
#page6 h1::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -14%;
  top: 8%;
}

.underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 3vw 0;
}
#footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 3vw;
}
.box {
  width: 20%;
}
#footer h6 {
  font-size: 1.1vw;
  margin-bottom: 1.5vw;
  text-transform: capitalize;
  font-weight: 500;
}
#footer h5 {
  font-size: 1.6vw;
  font-weight: 500;
  text-transform: capitalize;
}
#page6 > h5 {
  font-weight: 500;
  font-size: 1vw;
}
._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}

#Flag {
  height: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#text3 {
  z-index: 999;
  position: relative;
}

@media (max-width:600px){
  
  #page1 {
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: 100;
  padding-top: 1px;
}
#page1 #nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 4vw;
  position: fixed;
  top: 0;
  /* background-color: aqua; */
}
#nav i{
  display:block;
  font-size:10vw;
}
#nav #nav2 {
  display:none;
}
#nav2 h4 {
  font-size: 1.1vw;
  font-weight: 500;
}
.mainpage-text:nth-child(2) {
  margin-top: 25vh;
}

.mainpage-text {
  width: 80%;
  margin-left:8%;
}
.mainpage-text h1 {
  font-size: 10vw;
  line-height: 10vw;
  font-weight: 600;
}
#text1::before {
  left:10%;
  top: 38%;
  font-size: 5vw;
} 
.mainpage-text h2 {
  font-size: 10vw;
  line-height:10vw;
  font-weight: 600;
}
#page2 {
  padding-top: 5vh;
  height: 60vh;
  width: 100%;
  background-color: #151515;
  /* position: relative; */
}

#video-container {
  background-color: #3f7df4;
  height: 50vh;
  width: 100vw;
  position: relative;
  left: 0%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity:0;
  position: relative;
}
#video-cursor {
  background-color: #ffa63d;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  z-index: 999;
  display: flex;
  transform:translate(-50% , -50%);
  justify-content: center;
  align-items: center;}
  
#video-cursor i {
  font-size: 5vw;
}
#page3 {
  min-height: 40vh;
  width: 100%;
  padding-top: 8vw;
}
#page3-content {
  width: 72vw;
  margin-left: 12%;
  position: relative;
}
#page3-content h1 {
  font-size: 9vw;
  margin-left: 5vw;
}
#page3-content h1::before {
  font-size: 5vw;
}
#page3-content .underline {
  height: 1px;
  width: 95%;
  background-color: #fff;
  margin: 2vw;
}
#page3 #img-div-continer {
  margin-top: 5vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.img-div {
  height: 100vw;
  width: 90vw;
  overflow: hidden;
  flex-shrink: 0;
  margin: 1vw;
  margin-bottom: 2vw;
}
.img-div:nth-child(1) {
  height: 100vw;
  width: 90vw;
}
.page3-circle1 {
  display: none;
}
.page3-circle2 {
  display: none;
}
#page4 {
  min-height: 50vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 2vw 0;
  overflow: hidden;
}
#page4-content {
  width:100vw;
  margin-left:15%;
  position: relative;
}
#page4-content h1 {
  font-size: 10vw;
  text-transform: uppercase;
  position: relative;
}
#page4-content h1::before {
  content: "03";
  position: absolute;
  font-size: 5vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -10%;
  top: 8%;
}
#page4-content .underline {
  height: 1px;
  width: 65%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4-content > p {
  font-size: 5vw;
  width: 70%;
  margin-bottom: 3vw;
}
#page4-flex {
  display: flex;
}
#page4-flex img {
  width: 46%;
}
#page4-flex > p {
  font-size: 2.2vw;
  width: 30%;
  margin-left: 1.4vw;
}
#page4-blue {
  width: 57vw;
  padding: 3vw 2vw;
  background-color: #3f7df4;
  position: relative;
  margin-top: -12vh;
  margin-left:25vw;
}
.blue-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.2vw;
  border-bottom: 2px solid #fff7f79e;
}
.blue-elem h4 {
  font-size: 3vw;
  font-weight: 500;
}
.blue-elem p {
  width: 42%;
  font-size: 2vw;
}
#page5 {
  min-height: 30vh;
  margin-top: 5vh;
}
.elem h1 {
  font-size: 6vw;
  letter-spacing: 1px;
  margin-right: 2px;
  animation-duration: 10s;
}
@keyframes anime1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 6px));
  }
}
.elem2 h1 {
  font-size: 6vw;
  margin-right: 2px;
  letter-spacing: 1px;
  transform: translateX(calc(-100% - 6px));
  animation-duration: 10s;
}
#page6 {
  height: 55vh;
  padding-left: 15vw;
  padding-right: 10vw;
  margin-bottom: 30vh;
}
#page6 h1 {
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
#page6 h1::before {
  font-size: 5vw;
  left: -15%;
  top: 8%;
}

#footer {
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 3vw;
}
.box {
  width: 30%;
}
#footer h6 {
  font-size: 2.7vw;
  margin-bottom: 1.5vw;

}
#footer h5 {
  font-size: 2.8vw;
}
#page6 > h5 {
  font-size: 2.5vw;
  
}
}
